body {
    margin: 0;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: rgb(254, 254, 254);

    background-image: url('images/dangal-cover.jpg');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    line-height: 1.5;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
/* Main title */
h1 {
    text-align: center;
    font-size: 9rem;
    font-weight: 850;
    letter-spacing: 7px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px#d05656e1
    
}
/* Tagline */
h2 {
    text-align: center;
    font-weight: 550;
    font-size: 2.2rem;
    font-style: bold;
    margin-top: 5px;
    margin-bottom: 50px;
    text-shadow: 0 0 15px rgb(15, 59, 181);
    color: #ea990d; opacity: 0.9;
}

/* Transparent description box */
.description {
    background: rgba(0, 0, 0, 0.45);
    padding: 20px;
    border-radius: 70px;
    margin-bottom: 90px;
    color: #F8EEDC;;
}

/*Figure */
figure {
    text-align: center;
    margin-bottom: 40px;
    color: hsl(0, 0%, 100%);
}

.movie-poster {
    width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 25px rgb(20, 1, 1);
}

figcaption {
    font-size: 0.9rem;
    margin-top: 8px;
}
/*credit text */
 .credits {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    font-style: italic;
    font-size: x-large;
    color: #fdfdfd;
}
/* Footer */
footer {    
    text-align: center;
    font-size: 1rem;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #010000;
}
/* Footer link */
footer a {
    color: #ffe600;
    font-weight: 1.5rem;
    text-decoration: none;
}
   
footer a:hover {
      text-decoration: underline;
}